.rightUnicon{
    background-image: url('../../../assets/roadmap/rightUnicon.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.leftUnicon{
    background-image: url('../../../assets/roadmap/leftUnicon.png');
    background-repeat: no-repeat;
    background-size: contain;
}