/* .banner_vector {
    background-image: url('../../../assets/banner/vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    background: rgba(255, 149, 62, 0.20);
    filter: blur(250px);
    z-index: -1;
} */